<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" [ngModel]="post?.content"></textarea>
    </mat-form-field>
    <button *ngIf="mode == 'create'"
      mat-raised-button
      color="accent"
      required
      placeholder="Content"
      type="submit">Save Post</button>

    <button *ngIf="mode == 'edit'"
      mat-raised-button
      color="accent"
      required
      placeholder="Content"
      type="submit">Edit</button>
  </form>
</mat-card>
